.post{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.allpost{
    display: flex;
    flex-direction: row;
    width: 70%;
    border: 1px solid #214aa0;
    border-radius: 8px;
    justify-content: space-between;
}

.view{
    padding: 5px ;
    background: #214aa0;
    border-radius: 8px;
    margin: 10px;
}
.create{
    width: 80%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.links{
    padding: 8px 16px;
    background: #214aa0;
    border-radius: 8px;
    color: white ;
}