.avatar{
    display: flex;
    flex-direction: row;
    gap: 56px;
    align-items: center;
     
}
.notification{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.not-btn{
    width: 140px;
    height: 54px;
    background: #75A734 ;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 0 16px;
}
.not-btn p{
    font-weight: 600px;
    font-size: 14px;
}