.searchbar{
    width: 450px;
    height: 54px;
    border-radius: 8px;
    background: #EBEBEB;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    align-items: center;
    gap: 8px;
}

.searchbar input{
    border: none;
    outline: none;
    background: transparent;
    width: 85%;
}   